<div class="fn-sidebar affix-top" data-offset-top="380">
  <ul class="nav">
    <li class="slds-list__item"><%= link_to 'Activity Timeline', activity_timeline_path %></li>
    <li class="slds-list__item"><%= link_to 'Badges', badges_path %></li>
    <li class="slds-list__item"><%= link_to 'Breadcrumbs', breadcrumbs_path %></li>
    <li class="slds-list__item"><%= link_to 'Buttons', buttons_path %></li>
    <li class="slds-list__item"><%= link_to 'Button Groups', button_groups_path %></li>
    <li class="slds-list__item"><%= link_to 'Cards', cards_path %></li>
    <li class="slds-list__item"><%= link_to 'Data Tables', data_tables_path %></li>
    <li class="slds-list__item"><%= link_to 'Datepickers', datepickers_path %></li>
    <li class="slds-list__item"><%= link_to 'Forms', forms_path %></li>
    <li class="slds-list__item"><%= link_to 'Grid System', grid_system_path %></li>
    <li class="slds-list__item"><%= link_to 'Images', images_path %></li>
    <li class="slds-list__item"><%= link_to 'Lookups', lookups_path %></li>
    <li class="slds-list__item"><%= link_to 'Lookups (Advanced Modal)', advanced_modal_path, {:target => "_blank"} %></li>
    <li class="slds-list__item"><%= link_to 'Media Objecets', media_objects_path %></li>
    <li class="slds-list__item"><%= link_to 'Notifications', notifications_path %></li>
    <li class="slds-list__item"><%= link_to 'Page Headers', page_headers_path %></li>
    <li class="slds-list__item"><%= link_to 'PickLists', picklists_path %></li>
    <li class="slds-list__item"><%= link_to 'Pills', pills_path %></li>
    <li class="slds-list__item"><%= link_to 'Popovers', popovers_path %></li>
    <li class="slds-list__item"><%= link_to 'Spinners', spinners_path %></li>
    <li class="slds-list__item"><%= link_to 'Tabs', tabs_path %></li>
    <li class="slds-list__item"><%= link_to 'Tiles', tiles_path %></li>
    <li class="slds-list__item"><%= link_to 'Tooltips', tooltips_path %></li>
    <li class="slds-list__item"><%= link_to 'Trees', trees_path %></li>
    <li class="slds-list__item"><%= link_to 'Floats', floats_path %></li>
    <li class="slds-list__item"><%= link_to 'Lists', lists_path %></li>
    <li class="slds-list__item"><%= link_to 'Scrollable', scrollable_path %></li>
    <li class="slds-list__item"><%= link_to 'Text', text_path %></li>
    <li class="slds-list__item"><%= link_to 'Themes', themes_path %></li>
    <li class="slds-list__item"><%= link_to 'Truncation', truncation_path %></li>
    <li class="slds-list__item"><%= link_to 'Visibility', visibility_path %></li>
  </ul>
</div>