<%= render partial: 'section_header', locals: {title: "Media Objects - Base"} %>
<div class="slds-media">
  <div class="slds-media__figure">
  	<!-- <img src="/assets/images/avatar3.jpg" style="height:100px;" alt="Placeholder" /> -->
    <img src="http://www.lightningdesignsystem.com/assets/images/avatar3.jpg" style="height:100px;" alt="Placeholder" />
  </div>
  <div class="slds-media__body">
    <p>Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi. Mollit officia cillum Lorem ullamco minim nostrud elit officia tempor esse quis.</p>
  </div>
</div>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Media Objects - Center"} %>
<div class="slds-media slds-media--center">
  <div class="slds-media__figure">
    <img src="http://www.lightningdesignsystem.com/assets/images/avatar3.jpg" style="height:100px;" alt="Placeholder" />
  </div>
  <div class="slds-media__body">
    <p>Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi. Mollit officia cillum Lorem ullamco minim nostrud elit officia tempor esse quis.</p>
  </div>
</div>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Media Objects - Reverse"} %>
<div class="slds-media slds-media--reverse">
  <div class="slds-media__figure">
    <img src="http://www.lightningdesignsystem.com/assets/images/avatar2.jpg" style="height:100px;" alt="Placeholder" />
  </div>
  <div class="slds-media__body">
    <p>Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi. Mollit officia cillum Lorem ullamco minim nostrud elit officia tempor esse quis.</p>
  </div>
</div>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Media Objects - Double"} %>
<div class="slds-media slds-media--double">
  <div class="slds-media__figure">
    <img src="http://www.lightningdesignsystem.com/assets/images/avatar3.jpg" style="height:100px;" alt="Placeholder" />
  </div>
  <div class="slds-media__figure slds-media__figure--reverse">
    <img src="http://www.lightningdesignsystem.com/assets/images/avatar1.jpg" style="height:100px;" alt="Placeholder" />
  </div>
  <div class="slds-media__body">
    <p>Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi. Mollit officia cillum Lorem ullamco minim nostrud elit officia tempor esse quis.</p>
  </div>
</div>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Media Objects - Responsive"} %>
<div class="slds-media slds-media--responsive">
  <div class="slds-media__figure">
    <img src="http://www.lightningdesignsystem.com/assets/images/avatar2.jpg" style="height:100px;" alt="Placeholder" />
  </div>
  <div class="slds-media__body">
    <p>Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi. Mollit officia cillum Lorem ullamco minim nostrud elit officia tempor esse quis.</p>
  </div>
</div>
<!-- Margin -->
<div class="components-margin" />