<%= render partial: 'section_header', locals: {title: "Text - Base"} %>
<div class="slds-text-body--regular">The quick brown fox jumps over the lazy dog.</div>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Text - Body Small"} %>
<div class="slds-text-body--small">The quick brown fox jumps over the lazy dog.</div>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Text - Heading Large"} %>
<div class="slds-text-heading--large">The quick brown fox jumps over the lazy dog.</div>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Text - Heading Medium"} %>
<div class="slds-text-heading--medium">The quick brown fox jumps over the lazy dog.</div>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Text - Heading Small"} %>
<div class="slds-text-heading--small">The quick brown fox jumps over the lazy dog.</div>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Text - Heading Label"} %>
<div class="slds-text-heading--label">The quick brown fox jumps over the lazy dog.</div>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Text - Alignment"} %>
<div class="slds-text-align--left">The quick brown fox jumps over the lazy dog.</div>
<div class="slds-text-align--center">The quick brown fox jumps over the lazy dog.</div>
<div class="slds-text-align--right">The quick brown fox jumps over the lazy dog.</div>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Text - Longform"} %>
<div class="slds-text-longform">
  <p>The quick brown fox jumps over the lazy dog.</p>
  <p>The quick brown fox jumps over the lazy dog.</p>
  <h3 class="slds-text-heading--small">Something</h3>
  <ul>
    <li>The quick brown fox jumps over the lazy dog.</li>
    <li>The quick brown fox jumps over the lazy dog.</li>
  </ul>
</div>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Text - Section Title"} %>
<h3 class="slds-section-title section-group--is-open">
  <a href="#">
    <svg aria-hidden="true" class="slds-icon">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
    </svg> Section Title</a>
</h3>
<hr/>
<h3 class="slds-section-title slds-section-group--is-closed">
  <a href="#">
    <svg aria-hidden="true" class="slds-icon">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
    </svg> Section Title</a>
</h3>
<!-- Margin -->
<div class="components-margin" />

<%= render partial: 'section_header', locals: {title: "Text - Faux Links"} %>
<span class="slds-type-focus">Span with faux link interactions</span>
<!-- Margin -->
<div class="components-margin" />